<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Writers-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">-->
<!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownSubjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Subjects-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropDownSubjects">-->
<!--                        <li><a class="dropdown-item" href="#">Sub1</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Sub2</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownSubjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Publishers-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropDownSubjects">-->
<!--                        <% for(let i=0;i<publishers.length;i++){ %>-->
<!--                            <li><a class="dropdown-item" href="#"><%=publishers[i]%></a></li>-->
<!--                        <%}%>-->
<!--                    </ul>-->
<!--                </li>-->