<div class="row m-0">
    <!--    menue-->
    <div class="col-2 bg-dark text-white" >
        <div class="bg-dark text-white p-3" style="position:fixed;height: 100%;">
            <div class="list-group list-group-dark list-group-flush">
                <a href="/admin" class="list-group-item list-group-item-action rounded" aria-current="true">Home</a>
                <a href="/admin/book" class="list-group-item list-group-item-action text-white bg-dark">Books</a>
                <a href="/admin/author" class="list-group-item list-group-item-action text-white bg-dark">Authors</a>
                <a href="/admin/publisher" class="list-group-item list-group-item-action text-white bg-dark">Publishers</a>
                <a href="/admin/order" class="list-group-item list-group-item-action text-white bg-dark">Orders</a>
            </div>
        </div>
    </div>
    <!--    contents-->
    <div class="col-10 ">
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
        <h1>General Kenobi! Hello there!</h1>
    </div>
</div>