
<nav class="navbar navbar-dark bg-dark sticky-md-top ps-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Panel</a>
        <form  action="/admin/logout" method="POST" class="my-logout-form">
            <input type="submit" value="Log Out" class="btn  btn-secondary">
        </form>
    </div>
</nav>

