<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Squirrel</a>

        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">Admin Panel</div>
            <form  action="/admin/logout" method="POST" class="my-logout-form">
                <input type="submit" value="Log Out" class="btn  btn-primary">
            </form>
        </div>
    </div>
</nav>