<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id=<%=successToastId%> class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Squirrel</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <%=successToastMessage%>
        </div>
    </div>

    <div id=<%=errorToastId%> class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Squirrel</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <%=errorToastMessage%>
        </div>
    </div>
</div>
