<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Publishers</li>
    </ol>
</nav>
<div class="d-flex flex-wrap justify-content-evenly">
    <% for(let i = 0;i < publishers.length;i++){%>

    <div class="card mb-1 m-1" style="width: 12rem;">
        <img class="card-img-top p-3 circular" src=<%=publishers[i].IMAGE%>
        alt="Card image cap">
        <div class="card-body" style="display: flex;flex-direction: column;justify-content:space-between;">
            <h5 class="card-title"><%=publishers[i].NAME%></h5>
            <div class="d-grid gap-2">
            <a href=<%="/publishers/"+publishers[i].ID%> class="btn btn-warning">
            <i class="bi bi-journals"></i>
            View Publisher
            </a>
            </div>
        </div>
    </div>
    <% } %>
</div>
