<div class="shadow p-2 mt-3">
    <%- include('components/carousel',{carousalImages:['images/HomeCarousel1.png','images/HomeCarousel2.png','images/HomeCarousel3.png','images/HomeCarousel4.png','images/HomeCarousel5.png']}) %>
</div>
<div class="shadow p-2 mt-3">
    <h2>Recently Sold Products</h2>
    <%- include('components/cardScroll') %>

</div>
<div class="shadow p-2 mt-3">
    <h2>Bestseller Sold Products</h2>
    <%- include('components/cardScroll') %>
</div>

<div class="d-flex flex-nowrap bd-highlight">
    <div class="order-3 p-2 bd-highlight">First flex item</div>
    <div class="order-2 p-2 bd-highlight">Second flex item</div>
    <div class="order-1 p-2 bd-highlight">Third flex item</div>
</div>