<div class=" align-bottom">
    <hr>
    <div class="d-flex justify-content-center card-color ">
        <div class="align-middle mt-4">
            <div class="text-center">Created by <span class="badge bg-warning text-black" >Tamim</span> and <span class="badge bg-danger text-black" >Sachin</span> with</div>
            <div class="text-center align-middle">A copy of <a class="" href="https://www.rokomari.com"><img height="25px" src="https://www.rokomari.com/static/200/images/rokomari_logo.png" ></a></div>
        </div>
        <div class="">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_sqrntqup.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>

        </div>
    </div>
    <br>
    <br>
</div>