<div class="my-container container align-bottom">
    <hr>
    <div class="text-center">Created by Tamim and Sachin with ❤</div>
    <div class="text-center">A copy of <a href="https://www.rokomari.com">Rokomari</a></div>
    <br>
    <br>
</div>