<nav class="navbar navbar-expand-lg navbar-light  mb-1" style="background-color: #f1f3f5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/squirrel.png" alt="" height="50">
        </a>

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->

        <div style="max-width: 600px" class="container-sm">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <%- include('user-profile-button') %>
<!--        </div>-->
    </div>
</nav>