<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%=user.name%>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><form action="/logout" method="POST" class="my-logout-form">
                <input type="submit" value="log out" class="btn btn-link my-non-btn">
            </form>
        </li>
    </ul>
</div>
