<% if (navbar === undefined) {var navbar = 0;} %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
                aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav nav-tabs">
                <li>
                    <% if(navbar === 0){ %>
                        <a class="nav-link active" href="/">Home</a>
                    <% }else{ %>
                        <a class="nav-link" href="/">Home</a>
                    <% } %>
                </li>
                <li>
                    <% if(navbar === 1){ %>
                        <a class="nav-link active" href="/books">Books</a>
                    <% }else{ %>
                        <a class="nav-link" href="/books">Books</a>
                    <% } %>
                </li>
                <li>
                    <% if(navbar === 2){ %>
                        <a class="nav-link active" href="/authors">Writers</a>
                    <% }else{ %>
                        <a class="nav-link" href="/authors">Writers</a>
                    <% } %>
                </li>
                <li>
                    <% if(navbar === 3){ %>
                        <a class="nav-link active" href="/publishers">Publishers</a>
                    <% }else{ %>
                        <a class="nav-link" href="/publishers">Publishers</a>
                    <% } %>
                </li>
                <li>
                    <% if(navbar === 4){ %>
                        <a class="nav-link active" href="/aboutus">About Us</a>
                    <% }else{ %>
                        <a class="nav-link" href="/aboutus">About Us</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>