<nav class="navbar navbar-light bg-light">
    <!-- Logo and Prompt -->
    <div class="container-fluid">
        <!-- Logo -->

        <a class="navbar-brand" href="/">
            <img src="/images/squirrel.png" alt="Squirrel" height="50px">
        </a>
        <!-- Prompt -->
        <div>
<!--            <a href="/login">Login</a> | <a href="signup">Sign up</a>-->
        </div>
    </div>
</nav>