<nav class="navbar navbar-expand-lg navbar-light  mb-1" style="background-color: #f1f3f5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/squirrel.png" alt="" height="50">
        </a>
        <div style="max-width: 400px" class="container-sm">
            <form class="d-flex" action="/books/search" method="get">
                <div class="input-group mt-2">
                    <input style="max-width: 450px " type="text" class="form-control typer" name="keyword" placeholder="Search"
                           aria-label="Username"
                           aria-describedby="basic-addon1"
                           data-words="Search by books(ex. Harry Potter),Search by Authors(ex. JK Rowling),Search by Publishers(ex. Bloomsburry)"
                           data-delay="100" data-deleteDelay="1000">
                    <div class="input-group-append d-grid">
                        <button class="btn btn-primary" style="background-color: #0397d3;" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <script async src="/scripts/typer.js"></script>
            </form>
        </div>

<!--        <div class="d-flex">-->
            <a href="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="m-3 bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
            <%- include('user-profile-button') %>
<!--        </div>-->
    </div>
</nav>