<div class="dropdown">
    <button class="btn btn-light dropdown-toggle border" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle" src="<%=user.IMAGE%>" width="36px">
        <%=user.NAME%>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/my-section/profile">My Account</a></li>
        <li><a class="dropdown-item" href="/my-section/orders">My Orders</a></li>
        <li><a class="dropdown-item" href="/my-section/wishlist">My Wishlist</a></li>
        <li><a class="dropdown-item" href="/my-section/reviews">My Rating Reviews</a></li>
        <hr>
        <li>
            <form  action="/logout" method="POST" class="my-logout-form">
                <input type="submit" value="Sign Out" class="btn  my-non-btn">
            </form>
        </li>
    </ul>
</div>
