<ul>
    <% if(page>1) {%>
        <li class="page-item previous no" >
            <a class="text-white text-decoration-none" href=<%=target+'?'+queryParam+'='+(page-1)%> >Previous</a>
        </li>
    <%}%>
    <%if(pages<6){%>
    <%}%>

</ul>