<div class="container-fluid overflow-scroll my-scrollbar">
    <div class="row flex-nowrap">
        <%for(let i=0;i<10;i++){%>
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top p-3" src="https://images-na.ssl-images-amazon.com/images/I/910ityjoncL.jpg"  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text .</p>
                        <a href="#" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>